<a href="https://colab.research.google.com/github/DhaneshRaut/DhaneshRaut/blob/main/Copy_of_1st_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python program to create tuple 
tuple=(1,2,5,9)
print(tuple)

(1, 2, 5, 9)

In [ ]:
#Create a tuple with similar data type and other tuple containing different data type
and print the output?
tuple1=(1,2,3,7)
tuple2=("dhanesh", "ramesh",1,2)
print(tuple1)
print(tuple2)

Object `output` not found.
(1, 2, 3, 7)
('dhanesh', 'ramesh', 1, 2)

In [ ]:
#Create a tuple which contain only string and print one item?
tuple1=("omkar","dhanesh","ramesh")
print(tuple1[0])

omkar

In [ ]:
#Write a Python program to add an item in a tuple?#

In [ ]:
tuple=(1,2,3)
print(tuple.append(5))

AttributeError: ignored

In [ ]:
#Write a program to convert tuple into string?
tup=(1,2,3)
print(tup.str())

AttributeError: ignored

In [ ]:
#Write a program to fetch 3rd and last element of the tuple?
tuple=(1,2,3,4,5,8,9)
print(tuple[3:-1])

(4, 5, 8)

In [ ]:
#Write a program to perform slicing operation on tuple?
tuple=(1,2,3,4,9,7,5,4)
print(tuple[3:5])

(4, 9)

In [ ]:
tuple=(1,2,3,4,9,7,5,4)
print(tuple[3:])

(4, 9, 7, 5, 4)

In [ ]:
#Write a program to find the length of the tuple?
tuple=(1,2,3,4,9,7,5,4)
print(tuple.len())

AttributeError: ignored